@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: business --default;
}
@plugin "daisyui/theme" {
  name: "business";
  default: true;
  --color-primary: #1E3A8A;
  --color-secondary: #D4A017;
}

/* #D1D5DB */
/* #991B1B */

.browser-warning {
  display: none;
}

#icp-btn::after {
  content: attr(aria-label);
  padding-left: 2em;
  background-image: url('/images/icp.gif');
  background-size: 1em 1em;
  background-repeat: no-repeat;
}

